body {
  padding: 0;
  background-color: rgb(114, 61, 192);
  color: rgb(234, 244, 209);
}

h1 {
  color: rgb(238, 209, 155);
}

figure {
  max-width: 80%;
  text-align: center;
}

img {
  max-width: 80%;
}

figcaption {
  font-size: small;
}