body {
  padding: 0;
  background-color: slategray;
  color: navajowhite;
}

h1 {
  color: orange;
}

figure {
  max-width: 80%;
  text-align: center;
}

img {
  max-width: 80%;
}

figcaption {
  font-size: small;
}